/* Main Navbar Styles */
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: relative;
    z-index: 99;
}

.logo {
    font-weight: 600;
    font-size: 25px;
    color: tomato;
}

.logo span {
    color: #fff;
}

/* Main Menu */
.menu-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu-list li {
    margin: 9px;
}

.menu-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 5px 10px;
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
}

.menu-list li a:hover,
.menu-list li a:active {
    background-color: #fff;
    border-radius: 2px;
    color: #000;
}

.menu-list li:last-child a {
    font-weight: 300;
    padding: 5px 10px;
    background-color: #01aacd;
    border-radius: 2px;
}

/* Mobile Menu Icon */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block; 
    }

    /* Hide the menu by default */
    .menu-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    /* Show menu when active */
    .menu-list.active {
        display: flex;
        right: 0;
        transition: all 0.5s ease-in-out;
    }
}



    
